.form-floating {
  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(6px) rem(12px);
    height: rem(38px);
    line-height: rem(24px);
    pointer-events: none;
    border: 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    margin: 0;
  }
}

.form-control,
.form-control-plaintext {
  padding: rem(6px) rem(12px);

  ~ label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.form-vselect {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: #ffffff;
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-width: 0.125rem;

  &.vs--open {
    box-shadow: rgba(0, 0, 0, 0.05) rem(0px) rem(6px) rem(24px) rem(0px), rgba(var(--bs-primary-rgb), 1) rem(0px) rem(0px) rem(0px) rem(1px);
    border: rem(2px) solid $primary;
  }

  ~ label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.form-floating {
  .form-control,
  .form-control-plaintext,
  .form-vselect,
  .form-vselect-plaintext {
    height: rem(38px);
    line-height: rem(24px);
  }

  .form-control,
  .form-control-plaintext {
    min-height: unset;

    &:focus,
    &:not(:placeholder-shown) {
      padding: rem(6px) rem(12px);

      ~ label {
          width: 100%;
          color: var(--bs-body-color-rgb);
          opacity: 0.85;
          transform: scale(0.75) translateY(-80%);
          -moz-transform: scale(0.75) translateY(-80%);
      }

      ~ label::after {
          background-color: transparent;
      }
    }
  }

  .form-vselect,
  .form-vselect-plaintext {
    height: 100%;
    min-height: rem(38px);

    &:focus,
    &:not(:placeholder-shown) {
      padding: 0;
    }

    &.vs--searching ~label, &.vs--selected ~label {
      width: 100%;
      color: var(--bs-body-color-rgb);
      opacity: 0.85;
      transform: scale(0.75) translateY(-80%);
      -moz-transform: scale(0.75) translateY(-80%);
    }

    .vs__search {
      padding: 0;
      height: 0;
      line-height: 0;
    }

    &.vs--open .vs__search {
      padding: rem(6px) rem(10px);
      height: inherit;
      line-height: var(--vs-line-height);
    }
  }
}