.form-control,
.form-select {
  border-width: rem(2px);
}

.form-control:focus,
.form-select:valid:focus {
  box-shadow: rgba(0, 0, 0, 0.05) rem(0px) rem(6px) rem(24px) rem(0px),
    rgba(var(--bs-primary-rgb), 1) rem(0px) rem(0px) rem(0px) rem(1px);
  border: rem(2px) solid $primary;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: rgba(0, 0, 0, 0.05) rem(0px) rem(6px) rem(24px) rem(0px),
}